# testing and custom build code
.terraform/
terraform-provider-akamai
terraform.tfstate
terraform.tfstate.backup
*.log

# local files
.DS_Store
/dist

# eclipse
.classpath
.project
.settings

# IntelliJ
/.idea/
*.ipr
*.iws
*.iml
