# testing and custom build code
.terraform/*
/pkg/providers/**/test_tmp/**

.build/
terraform-provider-akamai
terraform.tfstate
terraform.tfstate.backup
*.log
tools/bin/
/bin/*

# local files
.DS_Store
/dist

# vscode
.vscode/
__debug_bin

# eclipse
.classpath
.project
.settings

# IntelliJ
/.idea/
*.ipr
*.iws
*.iml
