# Path to .edgerc file
edgerc = "~/.edgerc"

# Edgerc section for PAPI
#edgerc_papi = "papi"

# Name of the Access Control Group
group_name = "terraform_workspaces"

# Activation notification email recipients
email = ["johndoe@acme.org"]

# Product to associate with the configuration
product = "Adaptive_Media_Delivery"

# AMD CP Code Name
cpcode_name = "xyz"

# NetStorage CP Code Name
ns_cpcode_id = 123456

# NetStorage download domain
ns_download_domain = "xyz.download.akamai.com"

# PAPI rule schema version (do NOT use "latest" in real life)
rule_format = "latest"